/*scss/atoms/_lists.scss*/

/*
*******************************************************************
CORE LIST STYLES
*******************************************************************
*/
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


/*
*******************************************************************
DEFINITION LISTS
*******************************************************************
*/
dl {
  overflow: hidden;
  margin: 0 0 $space;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/*
*******************************************************************
LISTS WITHIN TEXT AREAS
*******************************************************************
*/
.text {
  ol, ul {
    list-style: initial;
    margin-left: 1.5rem;
  }
  ol {
    list-style-type: decimal;
  }
}
