/*scss/atoms/_media.scss*/

/*
*******************************************************************
RESPONSIVE MEDIA
*******************************************************************
*/
.player, .video-container, .video {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}
.player iframe, .video-container iframe, .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
